parameters:
    level: 9
    inferPrivatePropertyTypeFromConstructor: true
    checkMissingIterableValueType: true
    paths:
        - lib
        - example
        - bin

includes:
    - phpstan-baseline.neon
