parameters:
    level: 9
    inferPrivatePropertyTypeFromConstructor: true
    checkMissingIterableValueType: true
    paths:
        - lib
        - example
        - bin
    ignoreErrors:
        -
            message: '#has parameter \$(context|message) with no (value )?type specified#'
            path: 'bin/serve.php'
            reportUnmatched: false

includes:
    - phpstan-baseline.neon
