parameters:
    level: 7
    inferPrivatePropertyTypeFromConstructor: true
    ignoreErrors:
        - '{Unable to resolve the template type}'
        - '{Handler.*has no return type}'
    checkMissingIterableValueType: false
        
    paths:
        - lib
        - example
        - bin

includes:
    - vendor/jangregor/phpstan-prophecy/extension.neon
