<?xml version="1.0" encoding="UTF-8"?>

<!-- http://www.phpunit.de/manual/current/en/appendixes.configuration.html -->
<phpunit
    colors="true"
    bootstrap="vendor/autoload.php"
    >

    <testsuites>
        <testsuite name="Phpactor Language Server">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory>lib</directory>
        </whitelist>
    </filter>

</phpunit>
